body{
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
	padding: 0;
	margin: 0;
}
p{
	font-size: 1.5em;
}
p small{
	font-size: 0.8em;
}
.blog-hero{
	min-height: 300px;
	vertical-align: middle;
	background-color: #673AB7;
}
.blog-hero p{

}
.blog-hero ul{
	list-style: none;
	text-align: center;
}
.blog-hero ul li{
	display: inline-block;
	padding: 0 20px;
}
.blog-hero ul li a{
	color: #fff;
}